# Python 
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
face_venv/
venv/
.venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Project Specific - Data and Databases
dataset/
data/
images/
*.pkl
*.pth
*.csv
!README.md

# OS and IDE
.vscode/
.idea/
.DS_Store
*.swp
tempCodeRunnerFile.py
t.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class